{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h4 class=" text-center" style="color: rgb(229, 176, 76); font-size: 30px;"> 
        <b>อุปกรณ์จัดเก็บข้อมูล</b>
    </h4> <br>
    <table class="table">
        <tr>
            <th class="col col-2">รูปภาพ</th> 
            <th class="col col-3">ชื่อสินค้า</th>
            <th class="col col-2">ยี่ห้อ</th>
            <th class="col col-2">ราคา</th>
            <th class="col col-1">Detail</th>
        </tr>
        {% for storage in storages %}
            <tr>
                <td class="text-center"> <img src="/{{ storage.image }}" class="rounded" width="100px" height="150px"> </td> 
                <td style="vertical-align: middle;"> {{storage.name}} </td>
                <td style="vertical-align: middle;"> {{storage.brand}} </td>
                <td style="vertical-align: middle;"> {{storage.price}} </td>
                <td style="vertical-align: middle;" > 
                    <a href="/storageOne/{{ storage.storageid }}" class="btn btn-warning">
                        <i class="fa-solid fa-info"></i> 
                    </a>                              
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}